@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}
.header {
  padding: 50px;
  text-align: center;
  background-color: #fccab4;
}
.body {
  padding: 50px;
  background-color: #af94e1;
}
.card {
  border-radius: 50px;
  padding: 30px;
  min-height: 400px;
}
.card-title {
  padding: 10px;
  border-radius: 30px;
  margin-top: -50px;
  margin-bottom: 25px;
  background-color: aqua;
  width: 75%;
}
